<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKYGAUGE</title>
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

</head>

<body>
    <form  method="post" action="/target" role="search" >
        <label for="search">Search for stuff</label>
        <input id="search" type="text" name="cityName" placeholder="Search..." autofocus required />
        <button type="submit">Go</button>
    </form>
    <div class="front"> 



        <img src="image-background/bgii.jpg" alt="bgimg" class="bgim">



    </div>
    <div>

        <img src="tt.png" alt="logo">
    </div>





</body>

</html>