<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>weather</title>
    <link rel="stylesheet" href="CSS/styles.css">
</head>
<body>
<<<<<<< HEAD
    <header> 
    
        <nav>
            <section id="headbar">
                <div class="left">
                  
                </div>
                
            </section>
        </nav>
    </header>
=======
    <nav>
        <div class="navbar">
            <img src="logo.jpeg" alt="" srcset="">
        </div>
    </nav>
>>>>>>> 1da3d4652f955dc53ec29337755470e77a6fc113
    <div class="container">
        <div class="form">
            <form action="/" method="post">
                <div class="search">
                    <input type="text" id="cityName" name="cityName" class="Input" autocomplete="off" >
                    <button type="submit" class="submit">GO</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>