<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>weather</title>
    <link rel="stylesheet" href="CSS/styles.css">
</head>
<body>

    <form action="/" method="post">
        <input type="cityName" type="text" name="cityName">
        <button type="submit">GO</button>
    </form>
    <header> 
        <nav>
            <section id="headbar">
                <div class="left">
                    left
                </div>
                <div class="right">
                    right
                </div>
            </section>
        </nav>
    </header>
    <p><%=Temp%></p>
    <p><%=Type%></p>
    
</body>
</html>