<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>weather</title>
    <link rel="stylesheet" href="CSS/styles.css">
</head>
<body>
    <header> 
        
        <nav>
            <section id="headbar">
                <div class="left">
                    <img src="logo.jpeg" alt="" class="logo">
                    
                </div>
                
            </section>
        </nav>
    </header>
    
    <img src="bgimg.jpg" alt="" class="bgimg">
    <!-- <div class="container">
        <div class="form">
            <form action="/" method="post">
                <div class="search">
                    <input type="text" id="cityName" name="cityName" class="Input" autocomplete="off" >
                    <button type="submit" class="submit">GO</button>
                </div>
            </form>
        </div>
    </div> -->
</body>
</html>