nav{
    background-color:#566B8E;
}
body{
    background-color: rgb(186, 186, 224);
    color: aqua;
    margin: 0px;
    padding: 0px;
}
.left{
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 6rem;
    
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 88vh;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.Input{ 
    height: 5rem;
    border-radius: 5rem;
    text-align: center;
    font-size: 3rem;
    flex: 3;
}

.submit{
    flex: 1;
}